{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Centre de santé l'Étoile | Activités{% endblock %}

{% block content %}

    <section class="presentation" style="padding-left:25px;padding-right:25px;background-color:rgb(245,245,245);border-right:1px solid rgb(220,220,220);border-left:1px solid rgb(220,220,220);">
    
        <div class="container" style="margin-bottom:25px;">

            <div>

                <h5 class="colorTitle">{{ showActivites.activite|raw }}</h5> 
                <hr/>
                {{ showActivites.description|raw }}

            </div>

        </div>
        <div class="container" style="margin-bottom:25px;">

            

                <h5 class="colorTitle">Liste des {{ showActivites.titre|raw }} :</h5> 
                <hr/>
                <div style="display:flex;flex-direction:column;align-items:center;">
                    {% for professionnel in professionnels %}
                    <article class="psy">
                    {% if professionnel.photo == null %}
                        <img src="images/id.jpg" alt="photoID" class="photoId">
                    {% else %}
                        <img src="images/{{ professionnel.photo }}" alt="photoID" class="photoId">
                    {% endif %}
                        <div class="infoPro">
                            <span class="nomPro">{{ professionnel.nom|raw }}</span>
                            <span class="statutPro">{{ professionnel.titre|raw }}</span>
                            <span class="emplacement">{{ professionnel.etage|raw }}</span>
                            {% if professionnel.lien != null %}
                            <a class="redirection" target="_blank" href="{{ professionnel.lien|raw }}">Sur rendez-vous (en ligne)</a>
                            {% else %}
                            <span class="emplacement" style="background-color:rgb(245,245,245);">Sur rendez-vous</span>
                            {% endif %}
                        </div>
                    </article>
                    {% endfor %}
                </div>

            

        </div>

    </section>

{%  endblock %}
