{% extends "/frontoffice/layout2.html.twig" %}

{% block title %}Centre de santé l'Étoile | Nous rejoindre{% endblock %}

{% block content %}

<section class="presentation" style="padding-left:25px;padding-right:25px;background-color:rgb(245,245,245);border-right:1px solid rgb(220,220,220);border-left:1px solid rgb(220,220,220);">

    <div class="container">
        <div style="margin-bottom:50px;text-align:justify;">
            <h5 class="colorTitle">Nous rejoindre</h5>
            <hr/>
            <p>Le centre de santé l'Étoile regroupe plusieurs métiers nécessaires à son fonctionnement :</p>
            <ul>
                <li>des métiers de la santé : personnels soignants médicaux et paramédicaux ;</li>
                <li>des métiers de l’accueil en établissement de santé : secrétaires médicales ;</li>
            </ul>
            <p>N’hésitez pas à nous transmettre votre candidature spontanée à l’attention du directeur du centre de santé l'Étoile&nbsp;:</p>
            <p>4 avenue du 8 mai 1945, 38400 Saint Martin d'Hères ou via le formulaire ci-dessous</p>
        </div>
        <div class="blocRejoindre">
            
            <div class="blocForm" style="background-color:rgb(245,245,245);">
                <h5 class="colorTitle" id="test">Formulaire de contact</h5>
                <hr/>
                <form class="text-secondary" method="post" action="#ancre" id="ancre">
                    
                    <input type="hidden" name="token" id="token" value="{{ token|raw }}"/>
                    {{ forms.inputNom('nom','nom')|raw }}
                    {{ forms.inputEmail('email','email')|raw }}
                    {{ forms.input('objet','objet')|raw }}
                    {{ forms.textArea('message')|raw }}
                    <button class="btn btn-success" type="submit" id="submit" style="font-family:RobotoMedium;padding:12px;background-color:rgb(105, 208, 79)!important;box-shadow:0px 0px 4px rgba(100,100,100,0.3)!important;">Envoyer mon message</button>
                    <div class="alert alert-danger text-center" id="error" style="margin-top:15px;display:none;"></div>
                    {% if validation == true %}
                        <div class="alert alert-danger text-center" style="margin-top:15px">Votre nom ne peut contenir plus de 40 caractères !</div>
                    {% endif %}
                    {% if errors == true %}
                        <div class="alert alert-danger text-center" style="margin-top:15px">Tous les champs doivent être complétés !</div>
                    {% endif %}
                    {% if nameError == true %}
                        <div class="alert alert-danger text-center" class="itemModif" style="margin-top:15px">Votre nom doit être composé uniquement de lettres majuscules ou minuscules, de tirets et d'espaces.</div>
                    {% endif %}
                    {% if result == true %}
                        <div class="alert alert-success text-center" class="itemModif" style="margin-top:15px">Message bien posté !</div>
                    {% endif %}
                    {% if tokenError == true %}
                        <div class="alert alert-danger text-center" class="itemModif" style="margin-top:15px">Token de sécurité périmé !</div>
                    {% endif %}
                    {% if emailError == true %}
                        <div class="alert alert-danger text-center" class="itemModif" style="margin-top:15px">L'email renseigné est invalide !</div>
                    {% endif %}
                    
                </form>
            </div>
            <div class="blocCarousel">
                <div id="carouselExampleSlidesOnly" class="carousel carousel-fade slide modifCarouselRejoindre" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height:268px;width:100%;">
                        <img src="images/sallePro.jpg"  alt="First slide" style="height:218px;width:100%;">
                        </div>
                        <div class="carousel-item" style="height:268px;width:100%;">
                        <img src="images/ascenseur.jpg" alt="Second slide" style="height:218px;width:100%;">
                        </div>
                        <div class="carousel-item" style="height:268px;width:100%;">
                        <img src="images/terrasse.jpg" alt="Third slide" style="height:218px;width:100%;">
                        </div>
                    </div>
                </div>
                <div id="carouselExampleSlidesOnly" class="carousel carousel-fade slide modifCarouselRejoindre" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height:268px;width:100%;">
                        <img src="images/salleattente.jpg"  alt="First slide" style="height:218px;width:100%;">
                        </div>
                        <div class="carousel-item" style="height:268px;width:100%;">
                        <img src="images/salleattentebas.jpg" alt="Second slide" style="height:218px;width:100%;">
                        </div>
                        <div class="carousel-item" style="height:268px;width:100%;">
                        <img src="images/escalier.jpg" alt="Third slide" style="height:218px;width:100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{%  endblock %}
