{% extends "/frontoffice/layout2.html.twig" %}

{% block title %}Centre de santé l'Étoile | Nous rejoindre{% endblock %}

{% block content %}

<section class="container presentation">

    <div class="container maxWidth">
        <div style="margin-bottom:50px;">
            <h5 class="colorTitle" style="font-weight:normal;">Nous rejoindre</h5>
            <hr/>
            <p>Le centre de santé l'Étoile regroupe plusieurs métiers nécessaires à son fonctionnement :</p>
            <p>
                <li>des métiers de la santé : personnels soignants médicaux et paramédicaux ;</li>
                <li>des métiers de l’accueil en établissement de santé : secrétaires médicales ;</li>
            </p>
            <p>N’hésitez pas à nous transmettre votre candidature spontanée à l’attention du directeur du centre de santé l'Étoile :</p>
            <p>4 avenue du 8 mai 1945, 38400 Saint Martin d'Hères ou via le formulaire ci-dessous</p>
        </div>
        <div>
            
            <h5 class="colorTitle" style="font-weight:normal;" id="test">Formulaire de contact</h5>
            <hr/>
            <form class="bg-white text-secondary" method="post" action="#ancre" id="ancre" style="margin-bottom:25px;">
                
                <input type="hidden" name="token" id="token" value="{{ token|raw }}"/>
                {{ forms.inputNom('nom','nom')|raw }}
                {{ forms.inputEmail('email','email')|raw }}
                {{ forms.input('objet','objet')|raw }}
                {{ forms.textArea('message')|raw }}
                <button class="btn btn-success btn-rounded" type="submit" id="submit" style="margin-top:10px">Envoyer mon message</button>
                <div class="alert alert-danger text-center" id="error" style="margin-top:15px;display:none;"></div>
                {% if validation == true %}
                    <div class="alert alert-danger text-center" style="margin-top:15px">Votre nom ne peut contenir plus de 40 caractères !</div>
                {% endif %}
                {% if errors == true %}
                    <div class="alert alert-danger text-center" style="margin-top:15px">Tous les champs doivent être complétés !</div>
                {% endif %}
                {% if nameError == true %}
                    <div class="alert alert-danger text-center" style="margin-top:15px">Votre nom doit être composé uniquement de lettres majuscules ou minuscules, de tirets et d'espaces.</div>
                {% endif %}
                {% if result == true %}
                    <div class="alert alert-success text-center" style="margin-top:15px">Message bien posté !</div>
                {% endif %}
                {% if tokenError == true %}
                    <div class="alert alert-danger text-center" style="margin-top:15px">Token de sécurité périmé !</div>
                {% endif %}
                {% if emailError == true %}
                    <div class="alert alert-danger text-center" style="margin-top:15px">L'email renseigné est invalide !</div>
                {% endif %}
                
            </form>

        </div>
    </div>

</section>

{%  endblock %}
