{% extends "/backoffice/layout.html.twig" %}

{% block title %}Administration | Ajout professionnel{% endblock %}

{% block content %}

    <div class="card-body" style="padding-top:0px!important;padding-bottom:0px!important;">
    <h4 class="colorTitle">Ajouter un professionnel</h4>
    <hr/>
        <form method="post" enctype="multipart/form-data">

            <input type="hidden" name="token" id="token" value="{{ token|raw }}"/>
            {{ form.inputEditor('nom', 'nomPro')|raw }}
            {{ form.inputTitrePro('titre','titre')|raw }}
            {{ form.inputEtage('etage','etage')|raw }}
            {{ form.inputLien('lien','lien')|raw }}
            <div class="form-group" style="margin-bottom:25px;">
                <label style="font-size:16px;font-family:RobotoMedium;" class="colorTitle">Activité</label>
                <select name="activite" id="activite" class="form-control">
                <option value='' hidden selected>Sélectionner une activité</option> 
                {% for activite in activites %}
                    <option value='{{ activite.id|raw }}'>{{ activite.activite|raw }}</option>
                {% endfor %}
                </select>
            </div>
            {{ form.inputFilePro('photo')|raw }}
            <span id="error" class="colorTitle spanPass"></span>

            {% if result %}
                <div class="alert alert-success text-center" style="margin-top:15px">Professionnel ajouté !</div>
            {% endif %}
            {% if error == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Renseignez tous les champs !</div>
            {% endif %}
            {% if tokenError == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Token de sécurité périmé !</div>
            {% endif %}
            {% if photoTaille == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">La taille de la photo ne peut dépasser 2Mo !</div>
            {% endif %}
            {% if photoError == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Erreur lors de l'importation de votre photo !</div>
            {% endif %}
            {% if photoExtension == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">La photo ne peut être qu'au format jpg, jpeg, gif ou png !</div>
            {% endif %}
            {% if champs == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Renseignez tous les champs !</div>
            {% endif %}
            
            <button class="btn btn-primary" id="submitPro" style="margin-top:10px;">Ajouter le professionnel</button>
            <a class="btn btn-outline-secondary" style="margin-top:10px;" href="index.php?action=professionnelsManager">Retour à la liste des professionnels</a>

        </form>
    </div>

{%  endblock %}