{% extends "/backoffice/layout.html.twig" %}

{% block title %}Administration | Modifier professionnel{% endblock %}

{% block content %}

    <div class="card-body"style="padding-top:0px!important;padding-bottom:0px!important;">
        <h4 class="colorTitle">Modifier un professionnel</h4>
        <hr/>
        <form method="post">

            <input type="hidden" name="token" id="token" value="{{ token|raw }}"/>
            {{ form.inputEditor('nom')|raw }}
            <div class="form-group" style="margin-bottom:25px;">
                <label style="font-size:17px;font-family:RobotoMedium;" class="colorTitle">Activité</label>
                <select name="activite" class="form-control" >
                {% for idProfessionnel in idProfessionnels %}
                    <option value='{{ idProfessionnel.id|raw }}' hidden>{{ idProfessionnel.activite|raw }}</option>
                {% endfor %}
                {% for activite in activites %}
                    <option value='{{ activite.id|raw }}'>{{ activite.activite|raw }}</option>
                {% endfor %}
                </select>
            </div>

            {% if result %}
                <div class="alert alert-success text-center" style="margin-top:15px">Modifications sauvegardées !</div>
            {% endif %}

            {% if error == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Renseignez tous les champs !</div>
            {% endif %}
            {% if tokenError == true %}
                <div class="alert alert-danger text-center" style="margin-top:15px">Token de sécurité périmé !</div>
            {% endif %}
            
            <button class="btn btn-primary" style="margin-top:10px;">Sauvegarder</button>
            <a class="btn btn-outline-secondary" style="margin-top:10px;" href="index.php?action=professionnelsManager">Retour à la liste</a>

        </form>
    </div>

{%  endblock %}