{% extends "/backoffice/layout.html.twig" %}

{% block content %}

        <div class="container d-flex row justify-content-center">
                <a href="?action=activitesManager" class="linkCarte colorTitle" style="display:flex;text-decoration:none;">
                <div class="card bg-light mb-3 carteAdmin" style="width: 18rem;margin:15px;">
                        <div class="card-header titreCarte">Dernière activité</div>
                        <div class="card-body">
                        {% for activite in activites %}
                        <h6 class="card-title">{{ activite.activite|raw }}</h6>
                        <p class="card-text">{{ activite.description|raw|slice(0,50) }} ...</p>
                        {% endfor %}
                        </div>
                </div>
                </a>
                <a href="?action=professionnelsManager" class="linkCarte colorTitle" style="display:flex;text-decoration:none;">
                <div class="card bg-light mb-3 carteAdmin" style="width: 18rem;margin:15px;">
                        <div class="card-header titreCarte">Dernier professionnel</div>
                        <div class="card-body">
                        {% for professionnel in professionnels %}
                        <h6 class="card-title">{{ professionnel.nom|raw }}</h6>
                        <p class="card-text">{{ professionnel.activite|raw|slice(0,50) }}</p>
                        {% endfor %}
                        </div>
                </div>
                </a>
                {% for message in messages %}
                <a href="?action=showMessage&id={{ message.id|raw }}" class="linkCarte colorTitle" style="display:flex;text-decoration:none;">
                <div class="card bg-light mb-3 carteAdmin" style="width: 18rem;margin:15px;">
                        <div class="card-header titreCarte">Dernier message</div>
                        <div class="card-body">
                        <h6 class="card-title">de {{ message.nom|raw }}</h6>
                        <p class="card-text">{{ message.message|raw|slice(0,50) }} ...</p>
                        {% endfor %}
                        </div>
                </div>
                </a>
                <a href="?action=pagesManager" style="display:flex;text-decoration:none;" class="linkCarte colorTitle">
                <div class="card bg-light mb-3 carteAdmin" style="width: 18rem;margin:15px;">
                        <div class="card-header titreCarte">Gestion des pages</div>
                        <div class="card-body">
                        <p class="card-text">Gérer les pages du centre de santé ainsi que l'encadré "information importante" de la page d'accueil.</p>
                        <h6 class="card-title text-right">Cliquez ici</h6>
                        </div>
                </div>
                </a>
        </div>

{%  endblock %}