{% extends "/backoffice/layout.html.twig" %}

{% block title %}Administration | Message{% endblock %}

{% block content %}

        <div class="card-body" style="padding-top:0px!important;padding-bottom:0px!important;">
            <h5 class="colorTitle">Message de <span class="green" style="font-family:sans-serif;">{% for message in messages %}
            {{ message.nom|raw }}
                {% endfor %}</span></h5>
            <hr/>
            <table class="table table-striped table-responsive-sm text-left colorTitleAdmin" style="font-family:sans-serif;margin-top:25px;">
                <tbody>
                    {% for message in messages %}
                        <tr>
                            <th>Nom</th>
                            <td style="color:rgb(90,90,90);font-size:15px;">{{ message.nom|raw }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td style="color:rgb(90,90,90);font-size:15px;">{{ message.email|raw }}</td>
                        </tr>
                        <tr>
                            <th>Objet</th>
                            <td style="color:rgb(90,90,90);font-size:15px;">{{ message.objet|raw }}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td style="color:rgb(90,90,90);font-size:15px;">le {{ message.date|date("d/m/Y") }} à {{ message.date|date("H") }}h{{ message.date|date("i") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 
            {% for message in messages %}
                <h5 class="colorTitle" style="margin-top:25px;">Contenu</h5>
                <p class="text-left text-dark container rounded border border-muted bg-light" style="padding:10px;margin-top:20px;margin-bottom:30px;">{{ message.message|raw }}</p>
                <div style="display:flex;flex-direction:raw;justify-content:space-between;">
                    <p><a class="btn btn-primary" href="mailto:{{ message.email|raw }}">Répondre <i style="margin-left:5px;" class="fas fa-reply"></i></a></p>
                    <p><a class="btn btn-primary" href="index.php?action=messagesManager">Retour à la liste des messages</a></p>
                </div>
            {% endfor %}
        </div>

{%  endblock %}